<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zillow Current Mortgage Rate Lookup</title>
        <style>
            body {
                background-color:white;
                background-size: cover;
                background-repeat: no-repeat; 
                height: 100%;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
</head>
<body>
    <nav>
        <ul>
            <li style="margin-top: 40px;"><a href="/">Home</a></li>
            <li style="margin-top: 40px;"><a href="/mortgage_rate30">30-Year Mortgage Rates</a></li>
            <li style="margin-top: 40px;"><a href="/mortgage_rate15">15-Year Mortgage Rates</a></li>
            <li style="margin-top: 40px;"><a href="/realtime_data">Real-Time Data</a></li>
            <li style="margin-top: 40px;"><a href="/Zillow_CurrentRate">Zillow Rates</a></li>
            <li style="margin-top: 40px;"><a href="/intro">What's Mortgage</a></li>
            <li style="margin-top: 40px;"><a href="/" style="position: absolute; right: 30px; top: 9px; font-size:medium;">Return</a></li>
            
        </ul>
    </nav>

    <h1 style="position: absolute; left: 50px; top: 100px;">Zillow Current Mortgage Rate Calculator</h1>

    <form style="position: absolute; left: 50px; top: 200px;" method="POST" action="/Zillow_CurrentRate">
        <div class="form-group">
            <label for="stateAbbreviation">State Abbreviation:</label>
            <input type="text" id="stateAbbreviation" name="stateAbbreviation" required>
        </div>
        <div class="form-group">
            <label for="propertyValue">Property Value:</label>
            <input type="number" id="propertyValue" name="propertyValue" required>
        </div>
        <div class="form-group">
            <label for="loanAmount">Loan Amount:</label>
            <input type="number" id="loanAmount" name="loanAmount" required>
        </div>
        <br>
        <input type="submit" value="Calculate Rates">
    </form>
    <table style="position: absolute; left: 470px; top: 180px; border-collapse: collapse; border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <th style="border: 1px solid black; padding: 8px;">Field</th>
        <th style="border: 1px solid black; padding: 8px;">Value</th>
    </tr>
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black; padding: 8px;"><strong>APR</strong></td>
        <td style="border: 1px solid black; padding: 8px;">
            {% if zillow_data %}
                {{ zillow_data['rates']['1']['apr'] }}
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black; padding: 8px;"><strong>Rate</strong></td>
        <td style="border: 1px solid black; padding: 8px;">
            {% if zillow_data %}
                {{ zillow_data['rates']['1']['rate'] }}
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black; padding: 8px;"><strong>Credit Score Bucket</strong></td>
        <td style="border: 1px solid black; padding: 8px;">
            {% if zillow_data %}
                {{ zillow_data['rates']['1']['query']['creditScoreBucket'] }}
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black; padding: 8px;"><strong>Loan Amount Bucket</strong></td>
        <td style="border: 1px solid black; padding: 8px;">
            {% if zillow_data %}
                {{ zillow_data['rates']['1']['query']['loanAmountBucket'] }}
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black; padding: 8px;"><strong>loanToValueBucket</strong></td>
        <td style="border: 1px solid black; padding: 8px;">
            {% if zillow_data %}
                {{ zillow_data['rates']['1']['query']['loanToValueBucket'] }}
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black; padding: 8px;"><strong>program</strong></td>
        <td style="border: 1px solid black; padding: 8px;">
            {% if zillow_data %}
                {{ zillow_data['rates']['1']['query']['program'] }}
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black; padding: 8px;"><strong>stateAbbreviation</strong></td>
        <td style="border: 1px solid black; padding: 8px;">
            {% if zillow_data %}
                {{ zillow_data['rates']['1']['query']['stateAbbreviation'] }}
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    </table>

    <img src="/static/ZillowLogo.png" alt="Zillow Logo" 
    style="position: absolute; left: 700px; top: 80px; font-size: x-small; border-radius: 100%;">

    <img src="/static/logo.jpeg" alt="Baynovation Logo" 
    style="position: absolute; left: 70px; bottom: 70px; font-size: small; border-radius: 100%;">

    <div style="position: absolute; left: 100px; bottom: 30px; font-size: large; font-weight: bold;">
        Baynovation<br>
        Info@baynovation.com<br>
        San Jose, CA 95134
    </div>
</body>
</html>
